.frontpage-container {
    padding: 0;
}

#adTexts {
    background-color: #102E62;
}

.information {
    padding: 3vw;
}

.information h1 {
    color: #F8A700;
    font-size: 4.8vw;
}
.information h2 {
    color: #F8A700;
    font-size: 2.8vw;
}
.information h3 {
    font-size: 5.6vw;
    color: white;
}

.information button {
    padding: 10px;
    width: 12vw;
    font-size: 1.4vw;
    margin-top: 10px;
    background-color: #f8A700;
    color: #102E62;
    border: none;
    font-weight: bold;
    
}

