.frontpage-container {
    padding: 0;
}

#adTexts {
    background-color: #102E62;
}

.information {
    padding: 3vw;
}

.information h1 {
    color: #F8A700;
    font-size: 4.8vw;
}
.information h2 {
    color: #F8A700;
    font-size: 2.8vw;
}
.information h3 {
    font-size: 5.6vw;
    color: white;
}

.information button {
    padding: 10px;
    width: 12vw;
    font-size: 1.4vw;
    margin-top: 10px;
    background-color: #f8A700;
    color: #102E62;
    border: none;
    font-weight: bold;
    
}

.wrapper-4 {
    position: relative;
    margin: 0px;
    background-image: url(../Kuvat/Sivustokuvat/KengätArtboard2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 30vw;
}

.wrapper-4 button {
    font-size: 1.6vw;
    background-color: orange;
    position: absolute;
    top: 40%;
    left: 30%;
    border: none;
    padding: 5px;
    color: #102E62;
    font-weight: bold;
}

.wrapper-6 {
    position: relative;
    margin: 0px;
    background-image: url(../Kuvat/Sivustokuvat/KengätArtboard3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 30vw;
}

.wrapper-6 button {
    font-size: 1.6vw;
    background-color: orange;
    position: absolute;
    top: 40%;
    left: 30%;
    border: none;
    padding: 5px;
    color: #102E62;
    font-weight: bold;


}

.wrapper-12 {
    position: relative;
    margin: 0px;
    background-image: url(../Kuvat/Sivustokuvat/KengätArtboard4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 30vw;
}

.wrapper-12 button {
    font-size: 1.6vw;
    background-color: orange;
    position: absolute;
    top: 40%;
    left: 30%;
    border: none;
    padding: 5px;
    color: #102E62;
    font-weight: bold;


}
