.searchBtns {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: -2px;
}

.searchInput {
    background-color: #314c77;
    border: none;
}


@media only screen and (max-width: 991px) {
    .searchInput {
        width: 120px;
        min-width: 100px;
    }
}

@media only screen and (max-width: 375px) {
    .searchInput {
        width: 100%;
    }

}

.searchbarShow {
    padding: 10px;
    padding-left: 30px;
    background-color: #102E62;
    width: 330px;
    height: 330px;
    position: absolute;
    top: 26.5px;
    right: -114px;
    float:right;
    display: none;
}

.searchbarHeader {
    color: #dbdbdb;
}

.searchbarArea {
    scrollbar-color: #f8A700 #07204a;
    overflow: auto;
}

.searchbarArea::-webkit-scrollbar {
    background: #07204a;
    width: 3px;
}

.searchbarArea::-webkit-scrollbar-thumb {
    background: #f8A700;
}

@media only screen and (min-width: 992px) {
    .searchContainer:hover .searchbarShow {
        display: block !important;
    }
    .searchContainer:hover #searchbarIcon {
        color: #F8A700 !important;
    }
}

@media only screen and (max-width: 375px) {

    .searchbarShow {
        width: 100%;
        right: 0px;
    }

    .searchbarShow {
        z-index: 2;
    }

}

div.searchbarShow {
    padding-left: 0px;
    padding-right: 10px;
}


