#walkshoes > div:nth-child(1) img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#walkshoes a {
    text-decoration: none;
    color:#102E62;
}

/* .container [class*="col-"] {
    border: 1px solid black;
}  */

.container {
    margin-top: 30px;
}

.container > div:nth-child(1) img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container > div:nth-child(1) h4 {
    padding-top: 20px;
}

.container > .row:nth-child(2) {
    margin-top:20px;
    margin-bottom: 20px;
}

.container > div:nth-child(2) img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container > div:nth-child(2) h4 {
    padding-top: 20px;
}

.text-color {
    color:red;
}

.cr-color {
    background-color: #102E62;
    margin-bottom: 20px;
    height: 10px;
}

