#adImage {
    width: 100%;
    height: 100%;
}

#adTexts {
    background-color: #102E62;
}
#adTexts h1 {
    color: #F8A700;
    font-size: 4.8vw;
}
#adTexts h2 {
    color: #F8A700;
    font-size: 2.8vw;
}
#adTexts h3 {
    font-size: 5.6vw;
    color: white;
}

#adTexts button {
    padding: 10px;
    width: 200px;
    font-size: 30px;
    margin-top: 10px;
    background-color: #f8A700;
    color: #102E62;
    border: none;
    font-weight: bold;
    
}
