.frontpage-container {
    padding: 0;
}
.cover {
    width: 100%;
    height: 600px;
    background-image: url(../Kuvat/Sivustokuvat/Skateboy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
